@page
@model HelloWorld.Pages.AddressModel
@{
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area=""
       asp-page="/Address">Session Address</a>
</li>

<p>Dane w zapisane w sesji</p>
@if (Model.address != null)
{
    <p>
    @Html.DisplayNameFor(model => Model.address.Street):
        @Model.address.Street
    </p>
    <p>
    @Html.DisplayNameFor(model => Model.address.City):
        @Model.address.City
    </p>
    <p>
    @Html.DisplayNameFor(model => Model.address.Number):
        @Model.address.Number
    </p>
    <p>
    @Html.DisplayNameFor(model => Model.address.ZipCode):
        @Model.address.ZipCode
    </p>
}

